

       
          <div class="col-md-4">
              <div >
                   <a href="{% url 'todo' %}"> <button class="btn btn-lg  btn-success">Todo</button> </a><br><br>
                    <a href="{% url 'addproduct' %}"> <button class="btn btn-lg btn-success">Add Product</button> </a><br><br>
                    <a href="{% url 'salesproduct' %}"><button class="btn btn-lg btn-success">Sell Product</button></a><br><br>
                    <a href="{% url 'addcategory' %}"> <button class="btn btn-lg btn-success">Add Category</button></a><br><br>
                    <a href="{% url 'expenses' %}"><button class="btn btn-lg btn-success">Expenses</button></a><br><br>
                    <a href="{% url 'worker_profile' %}"><button class="btn btn-lg btn-success">Worker Profile</button></a><br><br>
                </div>
          </div>
          
       
          
